* {
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #333;
    color:honeydew;
}
.form-login{
    border: 2px solid yellow;
    max-width: 200px;
}

.msg-container {
    border: 2px solid yellow;
}
.msg {
    background-color: #e4f0f6;
    color: black;
    
}